

<header class="bg-purple w-screen container p-16">
    
    <div class="flex items-start justify-between mb-16">
        <h1 class="text-white font-roboto font-bold">dt money</h1>

        <button class="font-roboto text-white bg-purple flex items-center justify-center">
            Nova Transação
        </button>
    </div>
    
</header>