@page "/"
@using FinanceBlazor.Components

<PageTitle>Transactions</PageTitle>

<HeaderComponent/> 
<section class="w-full flex items-center justify-center gap-6 p-4 -mt-20">
    <CardComponent Title="Entradas" Icon="fa-circle-arrow-up" Value="1.700,00" Color="green-500" TitleColor="text-blue-900" />
    <CardComponent Title="Saídas" Icon="fa-circle-arrow-down" Value="1.200,00" Color="red-500" TitleColor="text-blue-900" />
    <CardComponent Title="Total" Icon="fa-dollar-sign" Value="1.200,00" Color="blue-900" TitleColor="text-blue-900" />

</section>